%h1 Listing workshops

%table
  %tr
    %th Duration
    %th Title
    %th Content
    %th Start date
    %th
    %th
    %th

  - @workshops.each do |workshop|
    %tr
      %td= workshop.duration
      %td= workshop.title
      %td= workshop.content
      %td= workshop.start_date
      %td= link_to 'Show', workshop
      %td= link_to 'Edit', edit_workshop_path(workshop)
      %td= link_to 'Destroy', workshop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workshop', new_workshop_path
