
- @workshops.each do |workshop|
  %div.workshop
    %h3= workshop.title
    %p= "#{workshop.duration} days - #{workshop.date_range}"
    != workshop.content
    = blink_to 'Show', workshop
    - if current_admin
      = blink_to 'Edit', edit_workshop_path(workshop)
      = blink_to 'Destroy', workshop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= blink_to 'New Workshop', new_workshop_path if current_admin
