%p#notice= notice

%p
  %b Duration:
  = @workshop.duration
%p
  %b Title:
  = @workshop.title
%p
  %b Content:
  = @workshop.content
%p
  %b Start date:
  = @workshop.start_date

= link_to 'Edit', edit_workshop_path(@workshop)
\|
= link_to 'Back', workshops_path
