%p#notice= notice

%p
  %b Type:
  = @workshop.duration
%h3
  = @workshop.title + ' - ' + @workshop.date_range
%p
  != @workshop.content

- if current_admin  
  = blink_to 'Edit', edit_workshop_path(@workshop)
  \|
  = blink_to 'Back', workshops_path
