= form_for @newsletter_subscriber do |f|
  - if @newsletter_subscriber.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter_subscriber.errors.count, "error")} prohibited this newsletter_subscriber from being saved:"
      %ul
        - @newsletter_subscriber.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email, style: 'margin-bottom: 1em;'
  .actions
    != recaptcha_tags
    = f.submit (@newsletter_subscriber.new_record? ? 'Subscribe' : 'Submit'), style: 'margin-top: 1em;'
