%h1 Listing newsletter_subscribers

%table
  %tr
    %th Email
    %th Joined Date
    %th
    %th
    %th

  - @newsletter_subscribers.each do |newsletter_subscriber|
    %tr
      %td= newsletter_subscriber.email
      %td= newsletter_subscriber.created_at.strftime("#{newsletter_subscriber.created_at.day.ordinalize} %b %Y")
      %td= link_to 'Show', newsletter_subscriber
      %td= link_to 'Edit', edit_newsletter_subscriber_path(newsletter_subscriber)
      %td= link_to 'Destroy', newsletter_subscriber, :method => :delete, :data => { :confirm => "Are you sure to delete #{newsletter_subscriber.email} ?" }

%br

= link_to 'New Newsletter subscriber', new_newsletter_subscriber_path

