%div{style: 'height:520px'}
  %div{:id=>:image_container, :data => {:slidecount => @slides.count}}
    - position = 1
    - @slides.each do |slide|
      %div{:id=>"slide_#{position}", :class=>'slide'}
        - position += 1
        = image_tag slide.photo.url
        %p.caption
          = slide.caption

%div.horizontal_separator{:style=>"clear:both;"}
#news
  != editable_content("news")

%div.horizontal_separator{:style=>"clear:both; margin-bottom: 11px; margin-top: 32px;"}
.row
  %div{class: 'small-4 columns'}
    #grid_wrapper
      %h3 Latest Images
      #flickr-div


  %div{class: 'small-4 columns'}
    %h3 Featured Image
    != editable_content("featured_image")

  %div{class: 'small-4 columns'}
    %h3 Twitter Feed
    %div
      = render :partial => 'layouts/twitter_widget'

%div{:style=>"clear:both;"}
