%h1 Listing comments

%table
  %tr
    %th Post
    %th Content
    %th Name
    %th Published
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= link_to comment.post_id, comment.post
      %td= comment.content
      %td= comment.name
      %td= comment.published ? 'published' : 'not published'
      %td 
        = link_to comment do
          .btn.btn-success
            Show
      %td
        = link_to edit_comment_path(comment) do
          .btn
            Edit
      %td
        = link_to comment, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          .btn.btn-danger
            Delete


