%h3 Listing comments

%table
  %tr
    %th Post
    %th Content
    %th Name
    %th Published
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= link_to comment.post_id, comment.post
      %td= comment.content
      %td= comment.name
      %td= comment.published ? 'published' : 'not published'
      %td 
        = blink_to 'Show', comment 
      %td
        = blink_to 'Edit',edit_comment_path(comment)
      %td
        = blink_to 'Delete', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }


