%p#notice= notice

%p
  %b Post:
  = @comment.post_id
%p
  %b Content:
  = @comment.content

= blink_to 'Post', post_path(@comment.post)
\|
= blink_to 'Edit', edit_comment_path(@comment)
\|
= blink_to 'Back', comments_path
