%h3 Newsletters

- @newsletters.each do |newsletter|
  %div{:style => 'background: #ddd; padding: 1em; margin: 1em auto;'}
    %h5
      = newsletter.subject
    %div
      != newsletter.content
    %br
    %div.buttons
      = blink_to 'Show', newsletter
      = blink_to 'Edit', edit_newsletter_path(newsletter)
      = blink_to 'Delete', newsletter, {:method => :delete, :data => { :confirm => 'Are you sure?' }}
      %span{:style=>'margin-left:3em;'}
      = blink_to 'Test', "/send_newsletter/#{newsletter.id}?mode=test"
      %span{:style=>'margin-left:3em;'}
      = blink_to 'Send to All', "/send_newsletter_to_all/#{newsletter.id}", :method => :get, :data => { :confirm => 'Are you certain?' }
      %span{:style=>'margin-left:3em;'}
      .send_to_subscriber
        = form_tag "/send_newsletter/#{newsletter.id}" do
          = button_tag 'Send to', :class=>'btn', :confirm => 'Are you positively sure?'
          = select_tag("newsletter_subscriber_id",options_from_collection_for_select(NewsletterSubscriber.all, 'id', 'email'))

= blink_to 'New newsletter', new_newsletter_path
