%h3 Newsletters

- @newsletters.each do |newsletter|
  %div{:style => 'background: #ddd; padding: 1em; margin: 1em auto;'}
    %h5
      = newsletter.subject
    %div
      != newsletter.content
    %br
    %div.buttons
      = link_to "/send_newsletter/#{newsletter.id}?mode=test" do
        = button_tag 'Test'
      = link_to "/send_newsletter/#{newsletter.id}", :method => :get, :data => { :confirm => 'Are you certain?' } do
        = button_tag 'Send'
      = link_to newsletter do
        = button_tag 'Show'
      = link_to edit_newsletter_path(newsletter) do
        = button_tag 'Edit'
      = link_to newsletter, :method => :delete, :data => { :confirm => 'Are you sure?' } do
        = button_tag 'Delete'



= link_to  new_newsletter_path do
  = button_tag 'New Newsletter'
