%h3 Newsletters

- @newsletters.each do |newsletter|
  %div{:style => 'background: #ddd; padding: 1em; margin: 1em auto;'}
    %h5
      = newsletter.subject
    %div
      != newsletter.content
    %br
    %div.buttons
      = blink_to 'Show', newsletter
      = blink_to 'Edit', edit_newsletter_path(newsletter)
      = blink_to 'Delete', newsletter, {:method => :delete, :data => { :confirm => 'Are you sure?' }}
      %span{:style=>'margin-left:3em;'}
      = blink_to 'Test', "/send_newsletter/#{newsletter.id}?mode=test"
      %span{:style=>'margin-left:3em;'}
      = blink_to 'Send', "/send_newsletter/#{newsletter.id}", :method => :get, :data => { :confirm => 'Are you certain?' }

= blink_to 'New newsletter', new_newsletter_path
