%p#notice= notice


%p
  %b Sent:
  = @contact_message.created_at
%p
  %b From:
  = @contact_message.from
%p
  %b Subject:
  = @contact_message.subject
%p
  %b Message:
  = @contact_message.message

- if current_admin
  = blink_to 'Edit', edit_contact_message_path(@contact_message)
  \|
  = blink_to 'Back', contact_messages_path
