
= form_for @tag do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label 'parent category'
    %br
    = f.select :parent_id, Tag.find(:all,:order => 'name').collect {|t| [ t.name, t.id ] }, :include_blank => true #, :class => 'chzn-select' 
  .field
    = f.label :category_name
    %br
    - if true #params[:action] == 'new'
      = f.select :category_name, Tag.uniq.pluck(:category_name).delete_if {|x| x == nil}, :include_blank => true #, :class => 'chzn-select' 
    - else
      = f.text_field :category_name    
  .actions
    = f.submit 'Save'
