#tags_wrapper{:style=>'float:right;'}
  %h3 Gallery Links
  %div#tags{:style=>'float:right;'}
    != tag_links(max_level = 1, :photos)


- columns = 3
- col = 0

%h3 Gallery
%ul#category-photos
  - @tags.each do |tag|
    %li{:class => "col-#{col % columns}"}
      - html_fragment = capture_haml do
        %div.photo-frame
          .photo-div
            - if tag.photo
              = image_tag tag.photo.attachment.url(:medium)
            - else
              thumbnail missing...
          .caption= tag.name
      - if tag.photo == nil
        = link_to html_fragment, tag
      - elsif tag.children.count == 0
        = link_to html_fragment, photos_path(:tag => tag.name)
      - else
        = link_to html_fragment, tags_path(:tag => tag.name)
      - col += 1

- if current_admin
  %h3 Tags
  #taglist
    != tag_links(1000, :tags, true, true)
  = link_to 'New Tag', new_tag_path if current_admin

