= form_for @pdf, html: {multipart: true} do |f|
  - if @pdf.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pdf.errors.count, "error")} prohibited this pdf from being saved:"
      %ul
        - @pdf.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label 'Select File'
    = f.file_field :attachment
  .actions
    = f.submit 'Save'
