%h1 Listing pdfs

%table
  %tr
    %th
    %th
    %th

  - @pdfs.each do |pdf|
    %tr
      %td= pdf.inspect
      %td= pdf.attachment_file_name
      %td= pdf.attachment_content_type
      %td= link_to 'Show', pdf
      %td= link_to 'Edit', edit_pdf_path(pdf)
      %td= link_to 'Destroy', pdf, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pdf', new_pdf_path
