
- total_quantity = 0
- total_price = 0

%h3 Shopping cart content

%table
  %tr
    %th 
    %th 
    %th 
    %th 
    %th
    %th
    %th

  - @cart_items.each do |cart_item|
    %tr     
      %td= image_tag cart_item.photo.attachment.url(:medium)
      %td= cart_item.quantity
      - total_quantity += cart_item.quantity
      %td= "£#{cart_item.price}"
      - total_price += cart_item.quantity * cart_item.price
      %td= cart_item.option
      %td= link_to 'Show', cart_item
      %td= link_to 'Edit', edit_cart_item_path(cart_item)
      %td= link_to 'Destroy', cart_item, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %tr
    %td
    %td
      = total_quantity
      items
    %td
      TOTAL
      = "£#{total_price}"
    %td
    %td
    %td
    %td= link_to 'Proceed to checkout will go here'

%br


= form_tag 'https://www.paypal.com/uk/cgi-bin/webscr',:target=>'paypal' do 
  = hidden_field_tag 'image_url',  'http://chrisbeard-images.com/images/pp_logo.gif'  
  - x=1
  - @cart_items.each do |ci|
    = hidden_field_tag 'item_name_'+x.to_s, sprintf("photo#: %s size: %s ", ci.photo_id, ci.option) 
    = hidden_field_tag 'amount_'+x.to_s, (ci.price)
    = hidden_field_tag 'quantity_'+x.to_s, (ci.quantity) 
    = hidden_field_tag 'option_'+x.to_s, (ci.option) 
    - x += 1
    
  = hidden_field_tag 'handling_cart', 4.99 
  = hidden_field_tag 'currency_code', 'GBP'
  = hidden_field_tag 'business', 'sales@chrisbeard-images.com' 
  = hidden_field_tag 'cmd', '_cart'
  = hidden_field_tag 'upload', 1 

  = hidden_field_tag 'shopping_url', 'http://chrisbeard-images.com/galleries' 
  = submit_tag "Proceed to Checkout" 
