%h3 Edit Photo

= link_to image_tag(@photo.attachment.url(:medium)), @photo.attachment.url, {:class => 'fancybox', :title => @photo.attachment_file_name[0..-5].gsub('_',' ')}

- categories = (Tag.uniq.pluck(:category_name).delete_if {|x| x == nil}).sort
%br
- categories.each do |category|
  %p
    %span.category
      = category+':'
    %br
    - Tag.where(:category_name => category).order('category_name, name').each do |t|
      - tagging = Tagging.where(:photo_id=>@photo.id, :tag_id=>t.id).first
      = link_to (raw t.name+(check_box_tag 'visible','yes', tagging )), edit_photo_path(tagging ? {:remove_tag => t.name} : {:add_tag => t.name})

%p
  %span.category  
    not categorised yet:
  %br
  - Tag.where(:category_name => nil).order(' name').each do |t|
    - tagging = Tagging.where(:photo_id=>@photo.id, :tag_id=>t.id).first
    = link_to (raw t.name+(check_box_tag 'visible','yes', tagging )), edit_photo_path(tagging ? {:remove_tag => t.name} : {:add_tag => t.name})
  
  
  

%div.scaffold-bottom-links
  = link_to 'Show', @photo
  \|
  = link_to 'Back', photos_path
  \|
  = link_to 'Categories', tags_path
  \|
  = link_to 'New Category', new_tag_path
