%h3 Edit Photo
- # TODO hardcoded length of name componentnt of filename
= link_to image_tag(@photo.attachment.url(:medium)), @photo.attachment.url, {:class => 'fancybox', :title => @photo.attachment_file_name[0..-5].gsub('_',' ')}
%div{:style => 'height:0.75em;'}
- categories = (Tag.uniq.pluck(:category_name).delete_if {|x| x == nil}).sort
%br
- categories.each do |category|
  %div.categories-block
    %span.category
      = category+':'
    %br
    - Tag.where(:category_name => category).order('category_name, name').each do |t|
      - tagging = Tagging.where(:photo_id=>@photo.id, :tag_id=>t.id).first
      %div
        = link_to (raw t.name + '&nbsp; <span style="font-size:150%;">' + (tagging ? "&#9745;"  : "&#9744;")+ '</span>' ) , edit_photo_path(tagging ? {:remove_tag => t.name} : {:add_tag => t.name})

%div.categories-block
  %span.category
    not categorised yet:
  %br
  - Tag.where(:category_name => nil).order(' name').each do |t|
    - tagging = Tagging.where(:photo_id=>@photo.id, :tag_id=>t.id).first
    %div
      = link_to (raw t.name+'&nbsp; <span style="font-size:150%;">'+(tagging ? "&#9745;"  : "&#9744;" )+'</span>'), edit_photo_path(tagging ? {:remove_tag => t.name} : {:add_tag => t.name})




%div.scaffold-bottom-links
  = blink_to 'Show', @photo
  \|
  = blink_to 'Back', photos_path
  \|
  = blink_to 'Categories', tags_path
  \|
  = blink_to 'New Category', new_tag_path
