

#tags_wrapper{:style=>'float:right;'}
  %h3 Gallery Links
  %div#tags{:style=>'float:right;'}
    != tag_links(max_level = 1, :photos)

- columns = 3
- col = 0


#photo_grid
  %h3  Photos
  %ul
    - @photos.each do |photo|
      %li{:class=> "column#{col}"}
        - col < columns-1 ? col += 1 : col = 0
        %div.photo-wrapper
          = link_to image_tag(photo.attachment.url(:medium)), photo.attachment.url, {:class => 'fancybox', :title => "<a href=\"#{photo_path(photo)}\">Order Prints</a>"}
        %div.photo-links
          - if current_admin
            = link_to 'Show', photo_path(photo), :class => 'show'
            = link_to 'Edit', edit_photo_path(photo), :class => 'edit'
            = link_to 'Delete', photo_path(photo), :class => 'delete', :method => :delete, :data => { :confirm => 'Are you sure?' }
          
%div{:style=>'clear:both;'}  
  
= will_paginate @photos, params=>{:order=>params['order']}

%div.scaffold-bottom-links
  - if current_admin  
    = link_to 'New Photo', new_photo_path
    = link_to 'Bulk Photo Upload', '/bulk_upload/new'
