%div.scaffold-bottom-links
  - if current_admin
    = blink_to 'New Photo', new_photo_path
    = blink_to 'Bulk Photo Upload', '/bulk_upload/new'

#tags_wrapper{:style=>'float:right;'}
  %h3 Gallery Links
  %div#tags{:style=>'float:right;'}
    != tag_links(max_level = 1, :photos)

- columns = 3
- col = 0

#photo_grid
  %h3
    = params['tag'] ? params['tag'] : 'Photos'
    - if @tag && @tag.parent && current_admin
      &nbsp;
      = link_to 'Up', photos_path(:tag => @tag.parent.name)

  - col = 0
  %ul
    - @photos.each do |photo|
      %li{:class=> "column#{col}"}
        - col < columns-1 ? col += 1 : col = 0
        %div.photo-wrapper
          = link_to image_tag(photo.attachment.url(:medium)), photo.attachment.url, {:class => 'fancybox fancybox.iframe', :title => "Order Prints"}
        - if current_admin
          %div.photo-links
            = # photo.tags.first.name there's problem with tags order, perhaps i will have to give up on ity
            = blink_to 'Show', photo_path(photo), :class => 'show'
            = blink_to 'Edit', edit_photo_path(photo), :class => 'edit'
            = blink_to 'Delete', photo_path(photo), :class => 'delete', :method => :delete, :data => { :confirm => 'Are you sure?' }

  %div{:style=>'clear:left;'}
  = will_paginate @photos, :params=>{:order=>params['order']}

%div.scaffold-bottom-links
  - if current_admin
    = blink_to 'New Photo', new_photo_path
    = blink_to 'Bulk Photo Upload', '/bulk_upload/new'
