%h1 Listing photos

%table
  %tr
    %th Attachment file name
    %th Attachment content type
    %th Attachment file size
    %th Attachment updated at
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= photo.attachment_file_name
      %td= photo.attachment_content_type
      %td= photo.attachment_file_size
      %td= photo.attachment_updated_at
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_photo_path
