%p#notice= notice

%p
  - if current_admin
    %b Attachment file name:
    = @photo.attachment_file_name
  #small-photo
    = image_tag @photo.attachment.url(:medium)

  %div.add-to-basket-form
    - @cart_item = CartItem.new
    = render 'cart_items/form', :photo_id => @photo.id
  
  #photo-show-hide
    = link_to "show large", "", {:id => 'hider', :onclick => "showLargePhoto(); return false"}
  #large-photo
    = image_tag @photo.attachment.url
  
- if current_admin      
  %p
    %b tags:
    = @photo.tags.count
    -  @photo.tags.each do |t|
      = link_to t.name, t
      &nbsp;
  %p
    %b Attachment content type:
    = @photo.attachment_content_type
  %p
    %b Attachment file size:
    = @photo.attachment_file_size
  %p
    %b Attachment updated at:
    = @photo.attachment_updated_at



%div.scaffold-bottom-links
  - if current_admin
    = link_to 'Edit', edit_photo_path(@photo)
    \|
  = link_to 'Back', photos_path
