= blink_to 'New Post', new_post_path  if current_admin

%h3 Blog
- @posts.each do |post|
  %div.post-teaser
    - unless post.published
      %span.published
        not published yet
    %p.post-date=  post.created_at.strftime("#{post.created_at.day.ordinalize} %b %Y")
    %h3.post-title= post.title

    %p{:style=>'clear:both;'}
      != post.teaser
      .teaser-more
        = blink_to 'Read more', post
        - comments = Comment.where(:post_id => post.id).where(:published => true)
        .buttons
          - if comments.count > 0
            .comment-count
              = pluralize comments.count,  "comment"
          = render_shareable :buttons=> ['twitter', 'facebook','pinterest']
    %div{:style=>'clear:both;'}
    - if current_admin
      %div.scaffold-bottom-links
        = blink_to 'Edit', edit_post_path(post)
        - if post.published
          = blink_to  'Unpublish', "/unpublish/post/#{post.id}"
        - else
          = blink_to 'Publish',"/publish/post/#{post.id}"

        = blink_to 'Delete', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%div.scaffold-bottom-links
  = blink_to 'New Post', new_post_path if current_admin
