%p#notice= notice

%div
  %h2= @post.title
  - unless @post.published
    %span.published
      not published yet
  %p
    %strong=  @post.created_at.strftime("#{@post.created_at.day.ordinalize} %b %Y")
  %p!= @post.content
%div{:style=>'clear:both;'}
  = link_to edit_post_path(@post) do
    = button_tag 'Edit'
  
  = link_to posts_path do
    = button_tag 'Back'

%br
#social_buttons{:style =>'display:block;'}  
  %span#pin-it
    = render :partial => "layouts/pinterest_widget"
  %span#tweet-it
    = render :partial => "layouts/twitter_button_widget"
  = render :partial => "layouts/facebook_like_widget"


%p= pluralize @post.comments.count, "comment"
- @post.comments.each do |comment|
  .comment
    %p= comment.content
    .comment_time
      = time_ago_in_words comment.created_at
      ago



%h3 Add a comment:
= form_for([@post, @post.comments.build]) do |f| 
  = f.hidden_field :post_id, :value => @post.id
  = f.text_area :content
  %br
  = f.submit 'Submit Comment'
