%div
  %div
    %h3 Mailing List
    %p
      If you would like to join our mailing list
      and receive a regular newsletter containing
      news items, hints &amp; tips, inspiration
      and advanced notification or new workshops,
      please click subscribe button:
      %br
      %br
      = button_to 'Subscribe',  new_newsletter_subscriber_path, method: 'get'


  %div
    %div{class: 'row'}
      %h3 Follow Me On:
      %div
        = link_to "http://www.flickr.com/photos/56587968@N08/", :class => 'footer_social', :target => '_blank' do
          %div
            Flickr
          = image_tag 'flickr.png'
      %div
        = link_to "https://www.facebook.com/chris.beard.14811", :class => 'footer_social', :target => '_blank' do
          %div
            Facebook
          = image_tag 'facebook.png'
      %div
        = link_to "https://twitter.com/CB1mages", :class => 'footer_social', :target => '_blank' do
          %div
            Twitter
          = image_tag 'twitter.png'

  %div
    %h3 Latest Blog
    %ul
      - posts = Post.where(:published => true).order("created_at DESC").limit( 3)
      - posts.each do |post|
        %li
          %div.time
            %strong=  post.created_at.strftime("#{post.created_at.day.ordinalize} %b %Y")
          = link_to post, :class=>'teaser' do
            = raw(post.teaser)
